<a href="https://colab.research.google.com/github/jeivas777/provaA1_estrutura_de_dados/blob/main/prova_estruturas_de_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
# 1. Criação do DataFrame com dados de filmes
dados_filmes = {
    'nome_do_filme': ['A Origem', 'Batman: O Cavaleiro das Trevas', 'Pulp Fiction: Tempo de Violência', 'Matrix', 'Forrest Gump: O Contador de Histórias',
                      'O Senhor dos Anéis: A Sociedade do Anel', 'Gladiador', 'Titanic', 'Avatar', 'O Rei Leão'],
    'nome_original': ['Inception', 'The Dark Knight', 'Pulp Fiction', 'The Matrix', 'Forrest Gump',
                      'The Lord of the Rings: The Fellowship of the Ring', 'Gladiator', 'Titanic', 'Avatar', 'The Lion King'],
    'nome_do_diretor': ['Christopher Nolan', 'Christopher Nolan', 'Quentin Tarantino', 'The Wachowskis', 'Robert Zemeckis',
                        'Peter Jackson', 'Ridley Scott', 'James Cameron', 'James Cameron', 'Roger Allers, Rob Minkoff'],
    'bilheteria': [829895144, 1004558444, 213928762, 466364845, 678222284,
                   871530324, 457640427, 2187463944, 2847246203, 968511805],
    'orcamento': [160000000, 185000000, 8000000, 63000000, 55000000,
                  93000000, 103000000, 200000000, 237000000, 45000000],
    'ano_de_lancamento': [2010, 2008, 1994, 1999, 1994,
                          2001, 2000, 1997, 2009, 1994],
    'genero': ['Sci-Fi', 'Action', 'Crime', 'Sci-Fi', 'Drama',
               'Fantasy', 'Action', 'Drama', 'Sci-Fi', 'Animation']
}

# Criar o DataFrame
df_filmes = pd.DataFrame(dados_filmes)

# Exibir o DataFrame
print(df_filmes)

                             nome_do_filme  \
0                                 A Origem
1           Batman: O Cavaleiro das Trevas
2         Pulp Fiction: Tempo de Violência
3                                   Matrix
4    Forrest Gump: O Contador de Histórias
5  O Senhor dos Anéis: A Sociedade do Anel
6                                Gladiador
7                                  Titanic
8                                   Avatar
9                               O Rei Leão

                                       nome_original  \
0                                          Inception
1                                    The Dark Knight
2                                       Pulp Fiction
3                                         The Matrix
4                                       Forrest Gump
5  The Lord of the Rings: The Fellowship of the Ring
6                                          Gladiator
7                                            Titanic
8                                             Avatar
9                                      The Lion King

             nome_do_diretor  bilheteria  orcamento  ano_de_lancamento  \
0          Christopher Nolan   829895144  160000000               2010
1          Christopher Nolan  1004558444  185000000               2008
2          Quentin Tarantino   213928762    8000000               1994
3             The Wachowskis   466364845   63000000               1999
4            Robert Zemeckis   678222284   55000000               1994
5              Peter Jackson   871530324   93000000               2001
6               Ridley Scott   457640427  103000000               2000
7              James Cameron  2187463944  200000000               1997
8              James Cameron  2847246203  237000000               2009
9  Roger Allers, Rob Minkoff   968511805   45000000               1994

      genero
0     Sci-Fi
1     Action
2      Crime
3     Sci-Fi
4      Drama
5    Fantasy
6     Action
7      Drama
8     Sci-Fi
9  Animation

In [ ]:
# 2. Número de linhas e colunas
numero_linhas, numero_colunas = df_filmes.shape
print("numero de linhas: ", numero_linhas)
print("numero de colunas: ", numero_colunas)

numero de linhas:  10
numero de colunas:  7

In [ ]:
# 3. Analisando um item específico
print(df_filmes.iloc[1])

nome_do_filme        Batman: O Cavaleiro das Trevas
nome_original                       The Dark Knight
nome_do_diretor                   Christopher Nolan
bilheteria                               1004558444
orcamento                                 185000000
ano_de_lancamento                              2008
genero                                       Action
Name: 1, dtype: object

In [ ]:
# 4. Verificando se o DataFrame está vazio
if df_filmes.empty:
    print("O DataFrame está vazio.")
else:
    print("O DataFrame não está vazio.")

O DataFrame não está vazio.

In [ ]:
# 5. Mostrando em tela os 5 primeiros itens do DataFrame
print(df_filmes.head())

                           nome_do_filme    nome_original    nome_do_diretor  \
0                               A Origem        Inception  Christopher Nolan
1         Batman: O Cavaleiro das Trevas  The Dark Knight  Christopher Nolan
2       Pulp Fiction: Tempo de Violência     Pulp Fiction  Quentin Tarantino
3                                 Matrix       The Matrix     The Wachowskis
4  Forrest Gump: O Contador de Histórias     Forrest Gump    Robert Zemeckis

   bilheteria  orcamento  ano_de_lancamento  genero
0   829895144  160000000               2010  Sci-Fi
1  1004558444  185000000               2008  Action
2   213928762    8000000               1994   Crime
3   466364845   63000000               1999  Sci-Fi
4   678222284   55000000               1994   Drama

In [ ]:
# 6. Deletando uma linha específica do DataFrame
df_filmes = df_filmes.drop(1)

# Exibir o DataFrame após as alterações
print(df_filmes)

                             nome_do_filme  \
0                                 A Origem
2         Pulp Fiction: Tempo de Violência
3                                   Matrix
4    Forrest Gump: O Contador de Histórias
5  O Senhor dos Anéis: A Sociedade do Anel
6                                Gladiador
7                                  Titanic
8                                   Avatar
9                               O Rei Leão

                                       nome_original  \
0                                          Inception
2                                       Pulp Fiction
3                                         The Matrix
4                                       Forrest Gump
5  The Lord of the Rings: The Fellowship of the Ring
6                                          Gladiator
7                                            Titanic
8                                             Avatar
9                                      The Lion King

             nome_do_diretor  bilheteria  orcamento  ano_de_lancamento  \
0          Christopher Nolan   829895144  160000000               2010
2          Quentin Tarantino   213928762    8000000               1994
3             The Wachowskis   466364845   63000000               1999
4            Robert Zemeckis   678222284   55000000               1994
5              Peter Jackson   871530324   93000000               2001
6               Ridley Scott   457640427  103000000               2000
7              James Cameron  2187463944  200000000               1997
8              James Cameron  2847246203  237000000               2009
9  Roger Allers, Rob Minkoff   968511805   45000000               1994

      genero
0     Sci-Fi
2      Crime
3     Sci-Fi
4      Drama
5    Fantasy
6     Action
7      Drama
8     Sci-Fi
9  Animation

In [ ]:
# 7. Adicionando um novo filme ao DataFrame

novo_filme = {
    'nome_do_filme': 'Vingadores: Ultimato',
    'nome_original': 'Avengers: Endgame',
    'nome_do_diretor': 'Anthony Russo, Joe Russo',
    'bilheteria': 2797501328,
    'orcamento': 356000000,
    'ano_de_lancamento': 2019,
    'genero': 'Action'
}

df_filmes = df_filmes.append(novo_filme, ignore_index=True)

print(df_filmes)

In [ ]:
# 8. Transpondo a coluna para a linha no DataFrame

df_filmes_transposto = df_filmes.transpose()
print(df_filmes_transposto)

                                   0                                 2  \
nome_do_filme               A Origem  Pulp Fiction: Tempo de Violência
nome_original              Inception                      Pulp Fiction
nome_do_diretor    Christopher Nolan                 Quentin Tarantino
bilheteria                 829895144                         213928762
orcamento                  160000000                           8000000
ano_de_lancamento               2010                              1994
genero                        Sci-Fi                             Crime

                                3                                      4  \
nome_do_filme              Matrix  Forrest Gump: O Contador de Histórias
nome_original          The Matrix                           Forrest Gump
nome_do_diretor    The Wachowskis                        Robert Zemeckis
bilheteria              466364845                              678222284
orcamento                63000000                               55000000
ano_de_lancamento            1999                                   1994
genero                     Sci-Fi                                  Drama

                                                                   5  \
nome_do_filme                O Senhor dos Anéis: A Sociedade do Anel
nome_original      The Lord of the Rings: The Fellowship of the Ring
nome_do_diretor                                        Peter Jackson
bilheteria                                                 871530324
orcamento                                                   93000000
ano_de_lancamento                                               2001
genero                                                       Fantasy

                              6              7              8  \
nome_do_filme         Gladiador        Titanic         Avatar
nome_original         Gladiator        Titanic         Avatar
nome_do_diretor    Ridley Scott  James Cameron  James Cameron
bilheteria            457640427     2187463944     2847246203
orcamento             103000000      200000000      237000000
ano_de_lancamento          2000           1997           2009
genero                   Action          Drama         Sci-Fi

                                           9
nome_do_filme                     O Rei Leão
nome_original                  The Lion King
nome_do_diretor    Roger Allers, Rob Minkoff
bilheteria                         968511805
orcamento                           45000000
ano_de_lancamento                       1994
genero                             Animation

In [ ]:
# 9. Mostrando na tela apenas as 2 primeiras colunas

df_filmes[['nome_do_filme', 'nome_original']]

,nome_do_filme,nome_original
0,A Origem,Inception
2,Pulp Fiction: Tempo de Violência,Pulp Fiction
3,Matrix,The Matrix
4,Forrest Gump: O Contador de Histórias,Forrest Gump
5,O Senhor dos Anéis: A Sociedade do Anel,The Lord of the Rings: The Fellowship of the Ring
6,Gladiador,Gladiator
7,Titanic,Titanic
8,Avatar,Avatar
9,O Rei Leão,The Lion King

### Exercício 1: Criação do DataFrame
- Importamos a biblioteca pandas.
- Criamos um DataFrame com dados de filmes usando um dicionário Python, em que o valor de cada chave do dicionário é uma lista de valores.
- O dicionário contém informações sobre nome do filme, nome original, nome do diretor, bilheteria, orçamento, ano de lançamento e gênero.
- Utilizamos a função `pd.DataFrame()` para criar o DataFrame a partir do dicionário.

### Exercício 2: Número de linhas e colunas
- Utilizamos a propriedade `shape` do DataFrame para obter o número de linhas e colunas.
- Imprimimos o número de linhas e colunas na tela.

### Exercício 3: Analisando um item específico
- Utilizamos a propriedade `iloc[]` do DataFrame para obter o item na linha 1.
- Imprimimos o item na tela.

### Exercício 4: Verificando se o DataFrame está vazio
- Utilizamos a propriedade `empty` do DataFrame para verificar se o DataFrame está vazio.
- Imprimimos uma mensagem na tela indicando se o DataFrame está vazio ou não.

### Exercício 5: Mostrando em tela os 5 primeiros itens do DataFrame
- Utilizamos o método `head()` do DataFrame para mostrar os 5 primeiros itens do DataFrame.
- Imprimimos os itens na tela.

### Exercício 6: Deletando uma linha específica do DataFrame
- Utilizamos o método `drop()` do DataFrame para deletar a linha 1.
- Imprimimos o DataFrame após as alterações na tela.

### Exercício 7: Adicionando um novo filme ao DataFrame
- Criamos um dicionário com informações sobre um novo filme.
- Utilizamos o método `append()` do DataFrame para adicionar o novo filme ao DataFrame.
- Imprimimos o DataFrame após as alterações na tela.

### Exercício 8: Transpondo a coluna para a linha no DataFrame
- Utilizamos o método `transpose()` do DataFrame para transpor a coluna para a linha.
- Imprimimos o DataFrame transposto na tela.

### Exercício 9: Mostrando na tela apenas as 2 primeiras colunas
- Utilizamos o método `[]` do DataFrame para selecionar apenas as 2 primeiras colunas.
- Imprimimos as colunas selecionadas na tela.